body{
  background-image: url("https://www.teamunify.com/css/pro/cust_stock_bg/abstract_green.jpg");
  background-size: 1300px 600px;
  color: #700000; 
  border: dotted black 5px;
  font-family: American Typewriter;
  font-size: 20px;
  text-align: center;
}